body {
  margin: 0;
  padding: 0px;
  background-image: url("../img/random.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
}
.scroll::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  
}
.scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.glass-card {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
/* ------------------width-------------------- */
.w-100 {
  width: 100% !important;
}
.w-15 {
  width: 15% !important;
}
.w-70 {
  width: 70% !important;
}
/* ---------------flex-------------------- */
.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.flex-1 {
  flex: 1;
}
/* -----------------other--------------------- */
.hr {
  width: 80%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.header-title {
  display: flex;
  justify-content: center;
}
.table-record {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.history-menu {
  justify-content: space-between;
  flex: 1;
  padding: 12px 16px;
}
h4,
h3 {
  text-align: center;
  margin-top: 16px;
}
.btn {
  height: 32px;
  width: 100%;
  color: rgb(38, 112, 233);
  border: 1px solid rgb(38, 112, 233);
  border-radius: 8px;
  padding: auto;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.btn:hover {
  color: white;
  background-color: rgb(38, 112, 233);
}
#length-record-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(38, 112, 233);
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
}
#length-page-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(38, 112, 233);
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.history-header {
  display: flex;
  flex-direction: column;
  padding: 24px auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}
.records {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
}
tr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 16px;
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
th {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-record {
  display: flex;
  flex-direction: column;
}
.name {
  width: 20%;
}
.family {
  width: 20%;
}
.email {
  width: 50%;
}
.age {
  width: 10%;
}
.table-box {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px !important;
}

.filter-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-3 {
  display: flex;
}
.filteer-name,
.filteer-email,
.filteer-family {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  padding: 16px;
}
.checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(38, 112, 233);
  width: 15px;
  height: 15px;
  border-radius: 3px;
}
.filter-title{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.length-char{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.length-char input{
    width: 50px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.5);
}
.filter-column .records hr{
    display: none;
}
#btn-detail{
    height: 50px;
    border-radius: 16px !important;
     
}
.btn-detail{
    color: rgb(38, 112, 233);
    border: 1px solid rgb(38, 112, 233) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px !important;
    margin-bottom: 0px !important;
}
.history-body .records:hover{
    border-left: 3px solid rgb(38, 112, 233);
}
.scroll{
  max-height: 80vh;
  overflow-y: auto;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-backdrop.active {
  display: flex;
}

.modal {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  min-width: 300px;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 50%;
  overflow-x: auto;
  margin: 0px auto;
  
}
.pagination::-webkit-scrollbar {
  width: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  
}
.pagination::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.d-none{
  display: none;
}










